<!doctype html>
<html lang="en">
  
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <title>CO2 Emissions Data Dashboard</title>
  </head>
  
  <body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">CO2 Emissions Data</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-1 mt-lg-0">          
            <li class="nav-item">
              <a class="nav-link" href="https://data.worldbank.org/">Source</a>
            </li>
            <!-- Github image -->              
            <li class="container">
              <a class="navbar-brand" href="https://github.com/JensMartinGit">
                <img src="/static/img/githublogo.png" alt="Github" width="30" height="30">
              </a>
            </li>           
            <!-- Linkedin image -->            
            <li class="container">
              <a class="navbar-brand" href="https://linkedin.com/in/jens-martin-303147163">
                <img src="static/img/linkedinlogo.png" alt="LinkedIn" width="30" height="30">
              </a>
            </li> 
          </ul>          
        </div>
      </div>
    </nav>

    <!-- Middle section -->
    
    <!-- Chart descriptions -->   
    <div class="row">
      <div class="col">    
        <div id="middle-info" class="mt-3 ml-3">
          <h2 id="tag-line">CO2 Emissions Data Dashboard</h2>
          <h5 id="tag-line" class="text-muted">World Bank Data on CO2 Emissions by Country</h4>
        </div>
      </div>  
      <!-- Charts -->
      <div class="container mt-3 text-center">
        <!--top two charts-->       
        <div class="row">          
            <div class="col-6">
                <div id="{{ids[2]}}"></div>
            </div>
            <div class="col-6">
                <div id="{{ids[0]}}"></div>
            </div>
        </div>

        <!--bottom two charts-->       
        <div class="row">
            <div class="col-6">
                <div id="{{ids[3]}}"></div>
            </div>
            <div class="col-6">
                <div id="{{ids[1]}}"></div>
            </div>
        </div>
      </div>
    </div> 







    <!--footer section-->               
    <div id="footer" class="container"></div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>


  <footer>

    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }
    </script>
    
  </footer>

</html>
